<footer class="page-footer">
			<div class="container" id="stopka">
				<h6 id="kontakt">A</h6>
				<div class="row">
					<div class="col s6">
						<a href="../web/about"><b>O stronie</b></a>
					</div>
					<div class="col s6">
						<a href="../web/contact" id="contact"><b>Kontakt</b></a>
					</div>
				<img src="http://www.myiconfinder.com/uploads/iconsets/4da56c6e4199ee90672a68bb2f18884f-Browser.png">
				<!-- Begin Web-Stat code v 6.2 -->
				<span id="wts1127549">&nbsp;</span><script type="text/javascript">
				var wts=document.createElement('script');wts.type='text/javascript';
				wts.async=true;wts.src=('https:'==document.location.protocol?'https://server2':'http://lb')
				+'.web-stat.com/4/1127549/log6_2.js';
				document.getElementById('wts1127549').appendChild(wts);
				</script><noscript><a href="http://www.web-stat.com"></a>
				</noscript>
				<!-- End Web-Stat code v 6.2 -->

				<div class="footer-copyright">
					<i class="glyphicon glyphicon-copyright-mark"></i> <p id="copyright">&copy;<b> 2016 by GF. Wszelkie prawa zastrzeżone.</b></p>
				</div>
				
				
				
			

			</div>

		</footer>