<!DOCTYPE html>
<html>
	<head>
		{% include "GrupaProjektBundle::head.html.twig" %}
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/grupaprojekt/css/style.css') }}">
		
	</head>
	
	<body class="teal">
		<header>
			<div class="main-bg">
				<img src="{{ asset('bundles/grupaprojekt/images/lambo.jpg') }}">
			</div>
			
			{% include "GrupaProjektBundle::menu.html.twig" %}
		
		</header>
			<aside>
				<ul>
					<li>
						<a href="http://www.google.pl"><b>Przejdź do Google</b></a>
					</li>
					<li>
						<a href=""><b>Dodaj stronę do zakładek</b></a>
					</li>
				</ul>
			</aside>
		<main>
			<section id="section1">
				<h1 id="witam">Witam na stronie</h1> 
					<div class="supercars">
						<h3>
							<span>S</span>
							<span>u</span>
							<span>p</span>
							<span>e</span>
							<span>r</span>
							<span>c</span>
							<span>a</span>
							<span>r</span>
							<span>s</span>
						</h3>		
					</div>
			</section>
		
		
			<section id="section2">
				<h3 class="center-align" id="st3">Zapraszam też na stronę</h3> 
				<h3 class="center-align"><a href="https://www.facebook.com/st3pl" id="sublime">Sublime Text 3</a></h3>
				
				<div id="logowanie">
					<form method="post" action="/login">
						<fieldset id="login">
							<legend>Logowanie</legend>
							<ol>
								<li>
									<label for="username">Nazwa użytkownika</label>
									<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
									<input type="text" id="username" name="username">
								</li>
								<li>
									<label for="password">Hasło</label>
									<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-log-in"></i></span>
									<input type="password" id="password" name="password" value="" autocomplete="off"/>
								</li>
							
								<li>
									<button type="submit" class="waves-effect waves-light btn">Zaloguj<i class="material-icons right">send</i></button>
								</li>
							</ol>
						</fieldset>
					</form>
				</div>
			</section>
				
			<section id="section3" class="s-container">
				<h2 id="s">A</h2>
				
					<div class="supercars">
						<h3>
							<span>S</span>
							<span>u</span>
							<span>p</span>
							<span>e</span>
							<span>r</span>
							<span>c</span>
							<span>a</span>
							<span>r</span>
							<span>s</span>
						</h3>
					</div>

				<h4 class="center-align" id="tostrona"> to strona o supersamochodach</h4>
					
				<a href="#learnmore" id="btn-learnmore" class="waves-effect waves-light btn" role="button">Dowiedz się więcej</a>
			</section>		
			
			<section id="section4">
			<h6 id="learnmore">A</h6>
			<h4>Najdziksze bestie </h4>
			<p class="flow-text">Zawartością strony jest kolekcja samochodów sportowych.
			Spośród ogromnej ilości dostępnych modeli aut wybrałem te, które według mnie są najlepsze pod względem wizualnym.
			</p>
			<a href="{{ path('car') }}" class="waves-effect waves-light btn">Dowiedz się jeszcze więcej (marki, modele)</a>
		

	                                
			<a href="#kontakt" class="waves-effect waves-light btn" id="about" role="button"> O stronie</a>


			
			
			
			
			<!-- komentarze -->
			<h2 id="comments">Komentarze</h2>
				<div id="disqus_thread"></div>
			<script>

			/**
			*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
			/*
			var disqus_config = function () {
			this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			*/
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = '//projekt-usability.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				
				
				
			<h5 class="right-align"><a href="#" class="waves-effect waves-light btn">Powrót do góry</a></h5>
			

			</section>
		</main>
		{% include "GrupaProjektBundle::footer.html.twig" %}


			
		
		
		

	</body>

</html>