{% extends "GrupaProjektBundle::layout.html.twig" %}

{% block content %}



<p id="home">HOME <br>
Najdziksze bestie</p>
Zawartością strony jest kolekcja samochodów sportowych.<br>
Spośród ogromnej ilości dostępnych modeli aut wybrałem ,<br>
które według mnie są najlepsze pod względem wizualnym.










 
 {% endblock %}
