@font-face {
    font-family: "robotoregular";
    src: url('Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "robotoregular", Tahoma, Arial, sans-serif;
    color: rgba(255, 255, 100, 0.9);
}

.main-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.main-bg img,
header {
    width: 100%;
}


/* logo */

div#logo img {
    width: 100px;
    height: 60px;
}


/* hamburger */

.hamburger-container img {
    width: 50px;
    height: 50px;
    margin: -25px 0px 0px 0px
}

h1,
h2 {
    width: 75%;
}

nav {
    display: block;
    list-style: none;
    width: 100%;
    height: 85px;
    background: rgba(255, 0, 0, 0.55)
}

.nav-container nav li {
    display: inline-block;
    margin: -50px 0px 0px 0px
}

nav li a {}

nav li a:hover {
    background-color: #FF5719 !important;
    color: #337ab7
}

nav a.sc:hover {
    background-color: yellow;
    color: #1e90ff
}

nav a.fb:hover {
    background-color: white
}

a.fb {
    background-color: #3b5998
}

a.sc {
    background-color: #1e90ff
}

b#bialy:hover {
    color: #3b5998
}

b#zolty {
    color: yellow;
}

div#logowanie {
    width: 200px;
    height: 225px;
    margin: auto
}

div.input-field {
    background: green;
    width: 140px;
    height: 40px;
    padding: 5px 0px 0px 0px;
    margin: 5px 0px 0px 0px
}

#search {
    width: 100px;
    height: 15px;
    background: transparent;
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 30px
}

div.input-field label {
    margin: 0px -5px
}

#close {
    margin: 5px 0px 0px 0px;
}

.adv-container {
    margin: -4px 0px 0px 15px
}

.s-container {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 400px;
}

#section3 {
    background-color: #1e90ff;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 400px;
}

legend {
    color: #e16f00;
}

fieldset#login {
    width: 100px;
    height: 240px;
    border: none;
    background-color: #fff;
    color: #fff700;
    text-align: center;
    padding: 5px 5px 90px 0px;
}

fieldset>ol {
    list-style: none;
    margin: 0px 0px 0px -30px
}

fieldset input {
    display: block;
    color: #666;
}

fieldset,
input,
legend {
    border-radius: 5px;
    -moz-border-radius: 5px;
}

input#username,
input#password {
    width: 160px;
}

.col.s6 a, .right-align a {
    color: yellow;
}

.col.s6 a img {
    padding: 5px;
}

.collapsible-header {background:teal}

#kontakt {color:transparent}

div.c-f {
    z-index: 2;
    width: 100%;
    height: 100px;
}

p#copyright {
    color: #fff700;
}

.supercars {
    text-align: center;
}

nav#stopka {
    background-color: #00baff;
    width: 100%;
    height: 100%;
}

#stopka img {
    width: 250px;
    height: 250px;
}

footer {
    color: #00baff;
    width: 100%;
    height: 685px;
    clear: both;
    margin: 0px 0px 0px 0px;
}
