{% extends "GrupaProjektBundle::menu.html.twig" %}

{% block title %}GrupaProjektBundle:Zamowienia:showZamowienia{% endblock %}

{% block content %}

<div class="panel panel-success panel-zamowienia">
				<div class="panel-heading zamowienia-naglowek">
					<div class="header">
						<h1 class="panel-title">ZAMÓWIENIA</h1><br>
					</div>
					
</div>
</div>
{% endblock %}
